@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.logo1 {

    left: 20px;
    margin-top: 9px;
    position: fixed;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    background: #e60000;
    padding: 10px 25px;
    transition: .4s;
    font-weight: bold;
}

.logo1 a {
    text-decoration: none;
    color: #fff;
}

.logo1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logo {
    left: 48%;
    right: 52%;
    margin-top: 7px;
    position: fixed;
    height: 48px;
    transition: 500ms;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
    transition: 1s;
}

li a:hover {
    color: #008ee6;
    transition: 1s;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url("images/yui.jpg");
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (max-width: 1200px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:1200px) {

    .nav {
        width: 100%;
        height: 200px;
        position: fixed;
        line-height: 65px;
        text-align: center;
        align-items: center;
    }
    .logo {
        left: 48%;
        right: 52%;
        margin-top: 12px;
        position: fixed;
        height: 150px;
        transition: 500ms;
    }
    .logo a {
        text-decoration: none;
        color: #fff;
    }
    
    .logo:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    .logo1{
    
        left: 20px;
        margin-top: 15px;
        position: fixed;
        text-decoration: none;
       color: white;
       border: none;
       font-size: 40px;
       border-radius: 30px;
       background:#00d7e6;
       padding: 50px 25px;
       transition: .4s;
       font-weight: bold;
    }
    .logo1 a {
        text-decoration: none;
        color: #fff;
    }
    
    .logo1:hover {
      transform: scale(1.1);
      cursor: pointer;
    }


























    .navTrigger {
        display: block;
        margin-top: 200px;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 100px;
        right: 0;
        left: 50px;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center;
    }

    .nav div.main_list ul li {

        width: 100%;
        text-align: center;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }

    .navlinks {
        align-items: center;
        justify-content: center;

    }

    .navlinks li {
        left: 45%;
        right: 45%;
        margin-left: 50%;
        margin-right: 45%;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 8%;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 22px;
    margin: 10px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(26px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(32px) rotate(0deg);
    }
    100% {
        transform: translateY(26px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(26px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(26px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(32px) rotate(0deg);
    }
    100% {
        transform: translateY(26px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-40px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-40px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-32px) rotate(0deg);
    }
    100% {
        transform: translateY(-40px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-40px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-40px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-32px) rotate(0deg);
    }
    100% {
        transform: translateY(-40px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
    text-align: center;
    font-size: 4rem;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }
}

/*navbar interactive et tout le blabla*/

.timeee a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.tomeee a:hover,
.timeee a.selected {
    color: #ff0000;
}

.timeee h1,
h2,
h4,
h5,
h6 {
    text-align: center;
    color: #ccc;
    text-shadow: #000 1px 1px 2px;
    margin-bottom: 5px;
}

.timeee h1 {
    font-size: 18px;
}

.timeee h2 {
    font-size: 14px;
}

.sociales {
    text-align: center;
    margin-bottom: 20px;
}

#timeline {
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('./images/dot.gif') left 45px repeat-x;
}

#dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
}

#dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('./images/biggerdot.png') center bottom no-repeat;
}

#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}

#dates .selected {
    font-size: 38px;
}

#issues {
    width: 800px;
    height: 350px;
    overflow: hidden;
}

#issues li {
    width: 800px;
    height: 350px;
    list-style: none;
    float: left;
}

#issues li.selected img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    /* IE 8 */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    /* IE 6 & 7 */

    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
}

#issues li h1 {
    color: #ff0000;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
    text-align: left;
    padding-left: 70px;
}

#issues li p {
    font-size: 14px;
    margin-right: 70px;
    margin-left: 70px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}



#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#next:hover,
#prev:hover {
    background-position: 0 -76px;
}

#next {
    right: 0;
    background-image: url('./images/next.png');
}

#prev {
    left: 0;
    background-image: url('./images/prev.png');
}


#next.disabled,
#prev.disabled {
    opacity: 0.2;
}












/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1500ms linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}